 <!-- Start Footer Area -->
 <div class="rn-footer-one rn-section-gap bg-color--1 mt--100 mt_md--80 mt_sm--80">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-content-wrapper">
                    <div class="footer-left">
                        <div class="logo-thumbnail logo-custom-css">
                            <a class="logo-light" href="index.html"><img src="assets/myImages/lek.png" alt="LM-logo"><strong > L&M</strong></a>
                            <a class="logo-dark" href="index.html"><img src="assets/myImages/lek.png" alt="LM-logo"><strong style="color: gray;"> L&M</strong></a>
                        </div>
                        <p class="rn-footer-describe">
                            Created with love
                        </p>
                    </div>
                    <div class="widget-bottom mt--40 pt--40">
                        <h6 class="title">Get The Latest Nuron Updates </h6>
                        <div class="input-group">
                            <input type="text" class="form-control bg-color--2" placeholder="Your username" aria-label="Recipient's username">
                            <div class="input-group-append">
                                <button class="btn btn-primary-alta btn-outline-secondary" type="button">Subscribe</button>
                            </div>
                        </div>
                        <div class="newsletter-dsc">
                            <p>Email is safe. We don't spam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_mobile--40">
                <div class="footer-widget widget-quicklink">
                    <h6 class="widget-title">L&M</h6>
                    <ul class="footer-list-one">
                        <li class="single-list"><a href="#">Conception</a></li>
                        <li class="single-list"><a href="#">Analyse</a></li>
                        <li class="single-list"><a href="#">Development</a></li>
                        <li class="single-list"><a href="#">Design</a></li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                <div class="footer-widget widget-information">
                    <h6 class="widget-title">Information</h6>
                    <ul class="footer-list-one">
                        <li class="single-list"><a href="#">Market Explore</a></li>
                        <li class="single-list"><a href="#">sell safe</a></li>
                        <li class="single-list"><a href="#">Blockchain technology</a></li>
                        <li class="single-list"><a href="#">Ethereum currency</a></li>
                        <li class="single-list"><a href="blog.html">transparency</a></li>
                        <li class="single-list"><a href="about.html">Cool profile </a></li>
                        <li class="single-list"><a href="#">24h/24 7j/7 </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                <div class="footer-widget widget-information">
                    <h6 class="widget-title">creator</h6>
                    <ul class="footer-list-one">
                        <li class="single-list"><a href="#">Lamiae MOUDDENE</a></li>
                        <li class="single-list"><a href="#">Engineering student</a></li>
                        <li class="single-list"><a href="#">LSI</a></li>
                        <li class="single-list"><a href="#">intelligent software and systems</a></li>
                        <li class="single-list"><a href="blog.html">FSTT</a></li>
                        <li class="single-list"><a href="about.html">JEE Project </a></li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Footer Area -->
<!-- Start Footer Area -->
<div class="copy-right-one ptb--20 bg-color--1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="copyright-left"> <div class="footer-left">
                        <div class="logo-thumbnail logo-custom-css">
                            <a class="logo-light" href="index.html"><img src="assets/myImages/lek.png" alt="nft-logo"><strong > L&M</strong></a>
                            <a class="logo-dark" href="index.html"><img src="assets/myImages/lek.png" alt="nft-logo"><strong style="color: gray;"> L&M</strong></a>
                        </div>
                       
                    </div> &nbsp;&nbsp; 
                    <span>© L&M, Inc. All rights reserved.</span>
                  
                    <ul class="privacy">
                        <li><a href="terms-condition.html">Terms</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Footer Area -->