
    <!-- start banner area -->
    <div class="slider-one rn-section-gapTop">
        <div class="container">
            <div class="row row-reverce-sm align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-12 mt_sm--50">
                    <h2 >Discover Digital Marketplace, Buy and Sell Your Real Estate.</h2>
                    <p >Partner with one of the world’s largest Application to choose and showcase your Real Estate.</p>
                    <div class="button-group">
                        <a class="btn btn-large btn-primary" routerLink="explore" data-sal-delay="400"  data-sal-duration="800">Get Started</a>
                        <a class="btn btn-large btn-primary-alta" routerLink="create"  data-sal-delay="500"  data-sal-duration="800">Create</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1">
                    <div class="slider-thumbnail">
                        <img src="assets/myImages/bg.jpg" alt="Slider Images" style="width: 603px; height: 500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End banner area -->