




<div class="rn-authore-profile-area">
       
               
                        
                            
                                <div class="nav " id="nav-tab" role="tablist">
                                    <button (click)="getAll()" class="nav-link btn btn-primary-alta" style="margin-left:40% ;margin-top: 30px;" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Show Transactions</button>
                                
                            
                      
                </div>
            
            




                
           
                <div class="tab-content rn-bid-content" id="nav-tabContent">
                 

                
                        <!--transactions-->
                        <div class="tab-pane row g-5 d-flex fade " id="nav-profile"  role="tabpanel" aria-labelledby="nav-profile-tab">

                                        <div class="rn-creators-area right-fix-notice creators mt--30">
                                                    <div class="h--100">
                                                        <div class="notice-heading">
                                                            <h4>
                                                                All Transactions
                                                            </h4>
                                                         
                                                        </div>
                                                    </div>

                                                    <div class="rn-notification-wrapper creators">
                                                        <!-- single authore -->
                                                        <div class="top-seller-inner-one" *ngFor="let tr of trans">
                                                            <div class="top-seller-wrapper">
                                                                <div class="thumbnail varified">
                                                                    <a href="#"><img src="assets/images/client/client-3.png" alt="Nft_Profile"></a>
                                                                </div>
                                                                <div class="top-seller-content" >
                                                                    <a href="#"  >
                                                                        <h6 class="name">Seller: {{tr[1]}}</h6>
                                                                    </a>
                                                                
                                                                    
                                                                    <a href="#" >
                                                                        <h6 class="name">buyer: {{tr[2]}}</h6>
                                                                    </a>
                                                                
                                                                    <span class="count-number">
                                                                Title: {{tr[0]}}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="btn btn-primary-alta">Price: {{tr[3]}}</a>
                                                        </div>
                                                    </div>
                                                <!-- single authore end -->
                                            
                                            
                                           

                                            </div>
                                        </div>    
                                    
                                    
                            




                                <!-- end transactions-->
                </div>            
                            
                  
       
</div>



